# Iterators

In [3]:
for i in range(10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

## Iterating over lists

In [4]:
for value in [2,4,6,8,10]:
    print(value + 1, end=' ')

3 5 7 9 11

In [5]:
iter([2,4,6,8,10])

In [6]:
I = iter([2,4,6,8,10])

In [7]:
print(next(I))

2

In [8]:
print(next(I))

4

In [9]:
print(next(I))

6

## a list is not always a list

In [10]:
range(10)

range(0, 10)

In [11]:
iter(range(10))

In [12]:
N = 10**12
for i in range(N):
    if i>=10:
        break
    print(i,end=', ')

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

## Useful iterators

In [13]:
L = [2,4,6,8,10]
for i in range(len(L)):
    print(i,L[i])

0 2
1 4
2 6
3 8
4 10

In [15]:
for i,val in enumerate(L):
    print(i,val)

(0, 2)
(1, 4)
(2, 6)
(3, 8)
(4, 10)

In [18]:
L = [2,4,6,8,10,12]
R = [3,6,9,12,15]
for lval, rval in zip(L,R):
    print(lval,rval)

2 3
4 6
6 9
8 12
10 15

## map and filter

In [21]:
square = lambda x: x**2
for val in map(square, range(10)):
    print(val,end=' ')

0 1 4 9 16 25 36 49 64 81

In [22]:
is_even = lambda x: x%2==0
for val in map(is_even, range(10)):
    print(val,end=' ')

True False True False True False True False True False

## iterators as function arguments

In [28]:
print(*range(10))

0 1 2 3 4 5 6 7 8 9

In [26]:
print(*map(lambda x: x**2, range(10)))

0 1 4 9 16 25 36 49 64 81

In [37]:
L1 = (1,2,3,4,5)
L2 = ('a','b','c','d')

In [38]:
z = zip(L1, L2)
print(*z)

(1, 'a') (2, 'b') (3, 'c') (4, 'd')

In [41]:
z = zip(L1, L2)
new_L1,newL2 = zip(*z)
print(new_L1, newL2)

In [53]:
L1 = (1,'a')
L2 = (2,'b')
L3 = (3,'c')
L4 = (4,'d')
z = zip(L1, L2,L3,L4)

## Specialized Iterators

In [46]:
from itertools import permutations
p=permutations(range(3))
print(*p)

(0, 1, 2) (0, 2, 1) (1, 0, 2) (1, 2, 0) (2, 0, 1) (2, 1, 0)

In [48]:
from itertools import combinations
c=combinations(range(4),2)
print(*c)

(0, 1) (0, 2) (0, 3) (1, 2) (1, 3) (2, 3)

In [55]:
from itertools import product
p=product([12],range(3))
print(*p)

(12, 0) (12, 1) (12, 2)

# List Comprehensions

In [56]:
[i for i in range(20) if i%3 > 0]

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19]

## Basic List Comprehensions

In [57]:
L= []
for n in range(12):
    L.append(n**2)
L

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [58]:
[n**2 for n in range(12)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

## Multiple Iteration

In [59]:
[(i,j) for i in range(2) for j in range(3)]

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2)]

## Conditionals on the iterator

In [60]:
[val for val in range(20) if val%3 >0]

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19]

In [61]:
L= []
for val in range(20):
    if val%3:
        L.append(val)
L

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19]

## Conditionals on the Value

In [62]:
val = -10
val if val >=0 else -val

10

In [63]:
[val if val%2 else -val
for val in range(20) if val%3]

[1, -2, -4, 5, 7, -8, -10, 11, 13, -14, -16, 17, 19]

### Sets (non repeating values)

In [66]:
x = {n**2 for n in range(12)}

print(x)

{0, 1, 64, 121, 4, 36, 100, 9, 16, 49, 81, 25}

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121}

In [65]:
{a%3 for a in range(1000)}

{0, 1, 2}