# This is my notes

In [1]:
1+1

2

These are more notes

In [3]:
# set the midpoint
midpoint = 5

# make two empty lists
lower = []; upper = []

#split numbers into lower and upper
for i in range(10): #itterates i from 0 up to 10
    if(i<midpoint): #since midpoint = 5, if the number i is less than 5 then we append it to lower
        lower.append(i)
    else: #if i is not les than 5 we append it to upper
        upper.append(i)
        
print("lower:", lower)#prints the list of lower numbers
print("upper:", upper)#prints the list of upper numbers

lower: [0, 1, 2, 3, 4]
upper: [5, 6, 7, 8, 9]

Order of Operation

In [4]:
2+4*3

14

In [6]:
(2+4)*3

18

Sorting

In [7]:
L = [4,3,2,1]
L.sort()
print(L)

[1, 2, 3, 4]

All python variables are pointers meaning the datatype does not need to be declared

In [8]:
x = 1
x = "hello" #data types change but no errors are thrown
x = [1,2,3]

You can have two variables pointing to the same mutable object

In [10]:
x=[1,2,3]
y = x
x.append(4) #eventhough we append x change is reflected in y
print(y)

[1, 2, 3, 4]

integers and strings are imutable

In [11]:
x = 10;
y = x;
x += 5
print(x) # x and y are different
print(y)

15
10

In [16]:
x = 4.5
x.is_integer()

False

In [17]:
x = 4.5
x -= 0.5
x.is_integer()

True

In [18]:
#(x > 1) xor (x<10)
(x>1) != (x<10)

False

In [19]:
x = 11
(x>1) != (x<10)

True

membership operators

In [20]:
1 in [1,2,3]

True