In [1]:
import pandas
pandas.__version__

'1.1.0'

In [4]:
import pandas as pd
import numpy as np

In [3]:
pd?

In [7]:
data = pd.Series([0.25,0.5,0.75,1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [8]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [9]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [10]:
data[1]

0.5

In [11]:
data[1:3]

1    0.50
2    0.75
dtype: float64

## series as generalized NumPy array

In [27]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=[2.1, 5.2, 3.6, 7.])
data

2.1    0.25
5.2    0.50
3.6    0.75
7.0    1.00
dtype: float64

In [28]:
data[2.1:3.6]

2.1    0.25
5.2    0.50
3.6    0.75
dtype: float64

## series as generalized dictionary

In [16]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population
population['California']
population['California':'Illinois']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

## The pandas DataFrame Object

In [33]:
area_dict = {'California': 423967,
                   'Texas': 695662,
                   'New York': 141297,
                   'Florida': 170312,
                   'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [34]:
states = pd.DataFrame({'population':population, 'area':area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [35]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [36]:
states.columns

Index(['population', 'area'], dtype='object')

## pandas index object

In [37]:
ind = pd.Index([2,3,5,7,11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

## index as an immutable array

In [38]:
ind[1]

3

In [39]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [40]:
print(ind.size,ind.shape,ind.ndim,ind.dtype)

5 (5,) 1 int64

In [41]:
ind[1] = 0

TypeError: Index does not support mutable operations

In [46]:
indA = pd.Index([1,3,5,7,9])
indB = pd.Index([2,3,5,7,11])

In [47]:
indA & indB

Int64Index([5, 3, 7], dtype='int64')

In [44]:
indA | indB

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [45]:
indA ^ indB

Int64Index([1, 2, 9, 11], dtype='int64')

# Data indexing ad Selection

## Data Selection in Series

### Series as dictionary

In [50]:
data = pd.Series([0.25,0.5,0.75,1.0], index = ['a','b','c','d'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [51]:
data['b']

0.5

In [52]:
'a' in data

True

In [53]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [56]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [57]:
data['e'] = 1.25
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

In [58]:
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [59]:
data[0:2]

a    0.25
b    0.50
dtype: float64

In [60]:
data[(data > 0.3)&(data<0.8)]

b    0.50
c    0.75
dtype: float64

In [61]:
data[['a','e']]

a    0.25
e    1.25
dtype: float64

### Indexers: loc, iloc, and ix

In [62]:
data = pd.Series(['a','b','c'], index=[1,3,5])
data

1    a
3    b
5    c
dtype: object

In [63]:
data[1]

'a'

In [64]:
data[1:3]

3    b
5    c
dtype: object

In [65]:
data.loc[1]

'a'

In [66]:
data.loc[1:3]

1    a
3    b
dtype: object

In [67]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=[1, 2, 3, 4])
data.keys()

Int64Index([1, 2, 3, 4], dtype='int64')

In [68]:
data.iloc[1]

0.5

In [69]:
data.iloc[1:3]

2    0.50
3    0.75
dtype: float64

In [72]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
print(data.keys()[0])
print(type(data.keys()[0]))

a
<class 'str'>

### DataFrame as a Dictionary

In [73]:
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [76]:
data['pop']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
Name: pop, dtype: int64

In [77]:
data.area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [75]:
data['density'] = data['pop']/data['area']
data

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763