# Control Flow

conditional statements if-elseif-else

In [1]:
x= 0

if x == 0:
    print(x, "is zero")
elif x > 0:
    print(x, "is positive")
elif x < 0:
    print(x, "is negative")
else:
    print(x, "is unlike anything I've ever seen...")

0 is zero

### For Loops

In [4]:
for N in [2,3,5,7]:
    print(N, end=" ")

2 3 5 7

In [5]:
for i in range(10):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

In [6]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [7]:
list(range(0,10,2))

[0, 2, 4, 6, 8]


### while Loops

In [9]:
i=0
while i<10:
    print(i,end=' ')
    i+=1;

0 1 2 3 4 5 6 7 8 9



### break and continue

In [10]:
for n in range(20):
    if n%2 == 0:
        continue
    print(n,end=' ')

1 3 5 7 9 11 13 15 17 19

In [12]:
a,b = 0,1
amax = 100
L = []

while True:
    a,b = b,a+b
    if a>amax:
        break
    L.append(a)
    
print(L)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]



### Loops with an else block

In [13]:
L = []
nmax = 30

for n in range(2,nmax):
    for factor in L:
        if n%factor == 0:
            break
    else:
        L.append(n)
        
print(L)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]


# Statements

In [14]:
i=5
i=i+1
i+=1
print(i)

7



### Loops for repetitive tasks

In [15]:
i=1
while i*i <1000:
    print("Square of", i, "is", i*i)
    i = i+1
    
print("Finished printing all the squares less than 1000.")

Square of 1 is 1
Square of 2 is 4
Square of 3 is 9
Square of 4 is 16
Square of 5 is 25
Square of 6 is 36
Square of 7 is 49
Square of 8 is 64
Square of 9 is 81
Square of 10 is 100
Square of 11 is 121
Square of 12 is 144
Square of 13 is 169
Square of 14 is 196
Square of 15 is 225
Square of 16 is 256
Square of 17 is 289
Square of 18 is 324
Square of 19 is 361
Square of 20 is 400
Square of 21 is 441
Square of 22 is 484
Square of 23 is 529
Square of 24 is 576
Square of 25 is 625
Square of 26 is 676
Square of 27 is 729
Square of 28 is 784
Square of 29 is 841
Square of 30 is 900
Square of 31 is 961
Finished printing all the squares less than 1000.

In [16]:
s=0
for i in [0,1,2,3,4,5,6,7,8,9]:
    s+=i
print("The sum is:", s)

The sum is: 45



### Decision making using the if statement

In [17]:
x=input("Give an integer: ")
x=int(x)
if x >= 0:
    a=x
else:
    a=-x
print("The absolute value of %i is %i" % (x, a))

Give an integer: 5
The absolute value of 5 is 5

In [18]:
c=float(input("Give a number: "))
if c > 0:
    print("c is positive")
elif c<0:
    print("c is negative")
else:
    print("c is zero")

Give a number: 5
c is positive


### Breaking and Continuing Loop

In [19]:
l = [1,3,65,3,-1,56,-10]
for x in l:
    if x<0:
        break
print("The first negative element was", x)

The first negative element was -1



### Functions

In [20]:
def double(x):
    "This Function multiplies it's argument by 2"
    return x*2
print(double(4), double(1.2), double("abc"))

8 2.4 abcabc

In [21]:
print("The docstring is:", double.__doc__)
help(double)

The docstring is: This Function multiplies it's argument by 2
Help on function double in module __main__:

double(x)
    This Function multiplies it's argument by 2

In [22]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [24]:
def sum_of_squares(a,b):
    "computes the sum of the arguments squared"
    return a**2 + b**2

print(sum_of_squares(3,4))

25

In [25]:
def sum_of_squares(lst):
    s=0
    for x in lst:
        s += x**2
    return s
print(sum_of_squares([-2,4,5]))

45

In [29]:
def sum_of_squares(*t):
    s=0
    for x in t:
        s += x**2
    return s
print(sum_of_squares(-2,4,5))

45

In [31]:
lst=[1,5,8]
print("With list unpacked as arguments to the functions:", sum_of_squares(*lst))

With list unpacked as arguments to the functions: 90

In [32]:
def named(a,b,c):
    print("First:", a, "Second:", b, "Third:" ,c)
named(5,c=7,b=8)

First: 5 Second: 8 Third: 7

In [34]:
def length(*t, degree = 2):
    """Computes the length of the vector given as a parameter. By default, it computes
    the Euclidean distance (degree =2)"""
    s =0 
    for x in t:
        s+=abs(x)**degree
    return s**(1/degree)

print(length(-4,3))
print(length(-4,3,degree=3))

5.0
4.497941445275415

### Visability of Variables

In [38]:

i=2
def f():
    i= 5
    print(i)

f()
print(i)

5
2

In [40]:
i=2
def f():
    global i 
    i= 5
    print(i)

f()
print(i)

5
5

In [45]:
def f():            # outer function
    b=2
    def g():        # inner function
        nonlocal b # Without this nonlocal statement,
        #b=3         # this will create a new local variable
        print(b)
    g()
    print(b)
f()

3
3


Tower of Hanoi

In [52]:
def TowerOfHanoi(n, source, destination, auxillary):
    if n==1:
        print("Move disk 1 from source",source,"to destination",destination)
        return
    TowerOfHanoi(n-1,source,auxillary,destination)
    print("Move disk", n, "from source",source,"to destination",destination)
    TowerOfHanoi(n-1,auxillary,destination,source)
    
n=4
TowerOfHanoi(n,'A','C','B')

Move disk 1 from source A to destination B
Move disk 2 from source A to destination C
Move disk 1 from source B to destination C
Move disk 3 from source A to destination B
Move disk 1 from source C to destination A
Move disk 2 from source C to destination B
Move disk 1 from source A to destination B
Move disk 4 from source A to destination C
Move disk 1 from source B to destination C
Move disk 2 from source B to destination A
Move disk 1 from source C to destination A
Move disk 3 from source B to destination C
Move disk 1 from source A to destination B
Move disk 2 from source A to destination C
Move disk 1 from source B to destination C